<div class="container">
    <form action="" [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
        <h2>Login Form</h2>
    
        <div class="input-icons">
            <mat-icon  color="primary" svgIcon="mail" matPrefix></mat-icon>
        <input type="email" placeholder="Email" class="pop" formControlName="email" required="true"> <br>

        <mat-icon  color="primary" svgIcon="lock" matPrefix></mat-icon>
        <input type="password" placeholder="Password"  class="pop" formControlName="password" required="true"> <br>

        <button  type="submit" id="submit" value="submit">Login</button>

        </div>
    </form>
</div>