<div>
    <div class="main">

        <div class="cart" *ngFor="let book of books; let i=index ">
            <div class="card" *ngIf=" book.cartStatus == 'ACTIVE' ">
              <!-- <input value="{{i}}" [(ngModel)]="inc" [hidden]="true" > -->
                <div class="card-header"  > 
                  <img [src]="book.pic">
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{book.title}}</h5>
                  <p class="card-text">{{book.desc}}</p>
                  <p class="card-text">${{book.price}}</p>
                  <!-- <a href="#" class="btn btn-primary">Buy now</a> -->
                  <button class="btn btn-primary" (click)="deleteFromCart(book.id)">Delete</button>
                  <button class="btn btn-primary" id="buy" (click)="buy(book.id)" >Buy now</button>
                </div>
              </div>
        </div>

        <div *ngIf="inc <= 0 " id="empty">
           <p>Products are not added to cart ! pls add.</p>
        </div>
        
    </div>
</div>