::ng-deep * {
      
    margin: 0;
    padding: 0;
  }

#nav-button{
background: transparent;
color: white;
border: none;
}
ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    margin-right: 40px;
    /* float: right; */
    /* text-align: right; */
    /* padding-left: 850px; */
}
.main{
    height: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
    width: auto;
}
li{
    list-style: none;
    margin-left: 10px;
}
a{
    text-decoration: none;
    color: white;
}

