.productDetails{
    box-sizing: border-box;
    background-color: white;
    width: 50%;
    height: auto;
    margin: 100px auto ;
    border-radius: 20px;
}
.card-header{
    text-align: center;
padding-top: 30px ;
}
.card-body{
    padding: 10px;
    text-align: center;
}
#btn{
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    background-color: blue;
    color: white;
    border: none;
    /* padding: 10px; */
}
p{
    padding: 5px;
}

@media screen and (max-width: 600px) {
    
    .productDetails{
        width: 70%;
    }
    img{
        width: 200px;
    }

}