<div class="blog">

 <div class="first">
  
  <p id="just">
    <span id="text">Featured Books of this Month</span> <br>
  <button id="btn">See More</button>
  </p>
   
  <div class="container-fluid">
      <div class="card"  *ngFor="let book of featuredBooks;let i = index " >
          <img id="imgone" *ngIf="i===0" [src]="book.pic" class="card-img-top" alt="..." [ngStyle]=" {'margin-left':'100px',' z-index': '100' ,'position': 'absolute', 'box-shadow': '5px 5px 5px 5px rgba(0, 0, 0, 0.5)'} ">
          <img id="imgone" *ngIf="i==1" [src]="book.pic" class="card-img-top" alt="..." [ngStyle]=" {'margin-left':'150px','z-index': '200','position': 'absolute', 'box-shadow': '5px 5px 5px 5px rgba(0, 0, 0, 0.5)'} ">
          <img id="imgone" *ngIf="i==2" [src]="book.pic" class="card-img-top" alt="..." [ngStyle]=" {'margin-left':'200px','z-index': '300','position': 'absolute', 'box-shadow': '5px 5px 5px 5px rgba(0, 0, 0, 0.5)'} ">
          <img id="imgone" *ngIf="i==3" [src]="book.pic" class="card-img-top" alt="..." [ngStyle]=" {'margin-left':'250px','z-index': '400','position': 'absolute', 'box-shadow': '5px 5px 5px 5px rgba(0, 0, 0, 0.5)'} ">
          <img id="imgone" *ngIf="i==4" [src]="book.pic" class="card-img-top" alt="..." [ngStyle]=" {'margin-left':'300px','z-index': '500','position': 'absolute', 'box-shadow': '5px 5px 5px 5px rgba(0, 0, 0, 0.5)'} ">
        </div>

</div>

 </div>
  
 
 <div id="second">
   <span id="para">Best Sellers</span>
 </div>
  
 <div class="shws">
 
   <div class="any">
 
     <div class="best" *ngFor="let book of featuredBooks; let i = index">
 
         <div class="card" id="card"  *ngIf="i<=limit" >
           <img [src]="book.pic" class="img-two" alt="...">
           <div class="card-body">
             <p class="card-text">{{book.title}}</p><br>
             <span class="card-text">Price: {{book.price}}$</span>
           </div>
         </div>
         
     </div>
 
  </div>
 
 
   <div id="btns">
    <button id="shwMore" (click)="shwMoreBtnClick()" [hidden]="shwMorebtn">Show More</button>
    <button id="shwMore" (click)="shwLessBtnClick()" [hidden]="shwLessbtn">Show Less</button>
   </div>
 </div>

 
</div>