::ng-deep * {
      
    margin: 0;
    padding: 0;
  }
.main{
   display: flex;
   flex-wrap: wrap;
   color: white;
}
.card-body{
    margin-left: 20px;
    color: white;
    margin-bottom: 20px;
}
.card{
    margin-left: 70px;
}
.flex{
    color: white;
}
#card-button{
    background-color: rgb(13, 102, 102);
    padding: 15px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    color: white;
    margin-right: 80px;
   
}

#card-button-buy{
    background-color: rgb(13, 102, 102);
    padding: 15px;
    border: none;
    border-radius: 10px;
    color: white;
}